body {
    padding-top: 120px;
    font-family: 'Amaranth', sans-serif;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
html,
body {
    height: 100%;
}
footer {
    margin: 50px 0;
}
input .form-control:focus {
    border-color: red;
}
.toggleDiv {
    display: none;
}
.navbar-fixed-top {
    padding: 25px 0;
}
.navbar-inverse {
    background: #0F536B;
}
.verticalNavbar {
    background: #0F536B;
}
.verticalNavbar h4,
.qhSearch h4 {
    color: #FFF;
    font-weight: bolder;
}
.nav-pills > li > a {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
}
.nav-pills > li > a > span {
    color: #000;
    font-size: 15px;
    font-weight: 700;
}
.nav-pills > li > a:focus {
    background-color: #2A7A72;
}
.nav-pills > li > a:hover {
    background: #0A9184;
    color: #E0F21B;
}
.qhSearch {
    background-color: #14C4B3;
}
.navbar-inverse .navbar-brand {
    color: #FFF;
    font-size: 2em;
}
.navbar-inverse .navbar-brand:hover {
    color: #14C4B3;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
    font-size: 18px;
}
.lead a {
    color: #E0F21B;
}
.panelshadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.trendclass {
    font-size: 20px;
}
.navbar-right {
    color: #FFF;
    font-size: 1.5em;
}
.nav-pills > li > a > span.glyph-white {
    color: #fff;
    font-size: 10px;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.footer {
    height: 100px;
    background-color: #f5f5f5;
}
@media (max-width: 767px) {
    .footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.footer .row-footer strong {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    font-size: 20px;
}
.qhmainwell {
    background: #FFFF66;
    font-size: 18px;
    color: #003366;
}

.qh-title {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.qh-title-info {
    border-left-color: #FFCC33;
}